body {
    background: linear-gradient(to right, #ffffff 45% ,transparent 65%), url("/yuika-360.jpg") no-repeat calc(0% + 150px) 0%;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
@media only screen and (max-height: 479px) {
    body {
        background: linear-gradient(to right, #ffffff 45% ,transparent 65%), url("/yuika-360.jpg") no-repeat calc(0% + 150px) 0%;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media only screen and (max-height: 899px) {
    body {
        background: linear-gradient(to right, #ffffff 45% ,transparent 65%), url("/yuika-720.jpg") no-repeat calc(0% + 300px) 0%;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media only screen and (min-height: 900px) {
    body {
        background: linear-gradient(to right, #ffffff 45% ,transparent 65%), url("/yuika-1080.jpg") no-repeat calc(0% + 450px) 0%;
        background-size: cover;
        background-attachment: fixed;
    }
}
.content-container {
    margin-top: 5vh;
    margin-left: 2.5%;
    margin-right: 60%;
    word-wrap: break-word;
    font-family: 'Exo 2', sans-serif;
}
.header {
    display: none;
}
.gradient {
    display: none;
}
.lily {
    font-size: 1.6vw;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
}
.yuriko {
    margin-top: 0px;
    font-size: 5vw;
    margin-bottom: 5px;
}

.yuriko-sub {
    margin-top: 0px;
    font-weight: 300;
    margin-bottom: 0px;
    font-size: 2.6vw;
}
p {
    color: #000000;
    font-size: 1.3vw;
}
h1 {
    color: #3b90c6;
    font-size: 3.2vw;
    font-weight: 500;
}
h2 {
    color: #000000;
    font-size: 2vw;
    font-weight: 300;
}

@media only screen and (max-aspect-ratio: 8/5) {
    body {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        background: #ffffff;
    }
    .content-container {
        margin-left: 3%;
        margin-right: 3%;
    }
    .header {
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        height: 50vh;
        background: url("/yuika.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: right 55% top;
    }
    .gradient {
        display: block;
        position: absolute;
        top: 25vh;
        left: 0%;
        width: 100%;
        height: 25vh;
        background: linear-gradient(to top,#ffffff 25%,transparent 100%);
    }
    .lily {
        font-size: 7.5vw;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 300;
    }
    .yuriko {
        margin-top: 0px;
        font-size: 15vw;
        margin-bottom: 5px;
    }

    .yuriko-sub {
        margin-top: 0px;
        font-weight: 300;
        margin-bottom: 0px;
        font-size: 8vw;
    }
    p {
        color: #000000;
        font-size: 5vw;
    }
    h1 {
        color: #3b90c6;
        font-size: 10vw;
        font-weight: 500;
    }
    h2 {
        color: #000000;
        font-size: 4.6vw;
        font-weight: 300;
    }
    .smol-yurik {
        display: none;
    }
}
@media only screen and (min-aspect-ratio: 5/5) and (max-aspect-ratio: 8/5) {
    .lily {
        font-size: 5vw;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 300;
    }
    .yuriko {
        margin-top: 0px;
        font-size: 10vw;
        margin-bottom: 5px;
    }

    .yuriko-sub {
        margin-top: 0px;
        font-weight: 300;
        margin-bottom: 0px;
        font-size: 5.6vw;
    }
    p {
        color: #000000;
        font-size: 3.3vw;
    }
    h1 {

        color: #3b90c6;
        font-size: 6.7vw;
        font-weight: 500;
    }
    h2 {
        color: #000000;
        font-size: 3.5vw;
        font-weight: 300;
    }
}
@media only screen and (max-aspect-ratio: 8/5) and (max-width: 479px) {
    .header {
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        height: 50vh;
        background: url("/yuika-360.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: right 55% top;
    }
    
}
@media only screen and (max-aspect-ratio: 8/5) and (max-width: 899px) {
    .header {
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        height: 50vh;
        background: url("/yuika-720.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: right 55% top;
    }
    
}
@media only screen and (max-aspect-ratio: 8/5) and (min-width: 899px) {
    .header {
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        height: 50vh;
        background: url("/yuika-720.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: right 55% top;
    }
    
}

.primary {
    color: #3b90c6;
}

.japanese{
    font-family: 'M PLUS 1p', sans-serif;
}

a {
    text-decoration: none;
    color: #3b90c6;

}
a:hover{
    text-decoration: underline;
}
.name {
    margin-top: 0px;
    margin-bottom: 5px;
}

.title {
    margin-bottom: 10px;
}
ul > li {
    font-size: 1.6vw;
}
ul > li > p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.col {
    display: flex;
    flex-flow: column;
}
.row {
    flex: 0 1 auto;
}
.expand {
    flex: 1 1 auto;
}
.fill {
    height: 87vh;
}
.nanao-enter-active,
.nanao-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
}
.nanao-enter,
.nanao-leave-to {
  opacity: 0;
}


