@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html {
    @apply font-sans;
}
body {
    background-image: url('~assets/images/bg-sm.jpg');
    background-size: cover;
    background-position: center;
    @apply min-h-screen;
}
@screen sm {
    body {
        background-image: url('~assets/images/bg-md.jpg');
    }
}
@screen md {
    body {
        background-image: url('~assets/images/bg-lg.jpg');
    }
}
@screen lg {
    body {
        background-image: url('~assets/images/bg-xl.jpg');
    }
}
@screen xl {
    body {
        background-image: url('~assets/images/bg-xxl.jpg');
    }
}

.content h1 {
    @apply text-4xl;
}
.content h2 {
    @apply text-3xl;
}

.content ul {
    @apply list-disc;
}
.content ul li {
    @apply ml-4;
}
.content a {
    @apply text-yuika-blue-200;
}

